.wrapper {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 100px 0;
    background: #232332;
}

.container {
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}
